@import 'header';
@import 'box';
@import 'hero';
@import 'mainbody';
@import 'movebr';


body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  input, textarea, select {
    font-family: 'Montserrat', sans-serif;
  }
}

