.header-left {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 5px 20px; }
  .header-left > * {
    margin-left: 40px; }

nav ul {
  list-style-type: none; }

a {
  text-decoration: none; }

.header-right {
  margin-top: 10px; }
  .header-right > a {
    cursor: pointer;
    transition: 0.3s ease;
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    padding: 10px 0;
    margin: 0 15px; }
  .header-right > a:hover {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    padding: 4px 0; }

li > ul > li a:hover {
  color: gray;
  transition: all .3s ease-in-out; }

.header-show {
  margin: 0px;
  padding: 0px; }
  .header-show > li:hover {
    background-color: white; }
    .header-show > li:hover > ul {
      display: flex;
      flex-direction: column; }
      .header-show > li:hover > ul > li {
        opacity: 0; }
        .header-show > li:hover > ul > li:nth-child(1) {
          animation-name: "menu";
          animation-duration: 200ms;
          animation-timing-function: ease-in-out;
          animation-fill-mode: forwards; }
        .header-show > li:hover > ul > li:nth-child(2) {
          animation-name: "menu";
          animation-duration: 400ms;
          animation-timing-function: ease-in-out;
          animation-fill-mode: forwards; }
        .header-show > li:hover > ul > li:nth-child(3) {
          animation-name: "menu";
          animation-duration: 600ms;
          animation-timing-function: ease-in-out;
          animation-fill-mode: forwards; }
        .header-show > li:hover > ul > li:nth-child(4) {
          animation-name: "menu";
          animation-duration: 800ms;
          animation-timing-function: ease-in-out;
          animation-fill-mode: forwards; }
        .header-show > li:hover > ul > li:nth-child(5) {
          animation-name: "menu";
          animation-duration: 1000ms;
          animation-timing-function: ease-in-out;
          animation-fill-mode: forwards; }
        .header-show > li:hover > ul > li:nth-child(6) {
          animation-name: "menu";
          animation-duration: 1200ms;
          animation-timing-function: ease-in-out;
          animation-fill-mode: forwards; }
        .header-show > li:hover > ul > li:nth-child(7) {
          animation-name: "menu";
          animation-duration: 1400ms;
          animation-timing-function: ease-in-out;
          animation-fill-mode: forwards; }
        .header-show > li:hover > ul > li:nth-child(8) {
          animation-name: "menu";
          animation-duration: 1600ms;
          animation-timing-function: ease-in-out;
          animation-fill-mode: forwards; }

@keyframes menu {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(30px); }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px); } }

.header-has-children {
  display: none;
  position: absolute;
  background: white;
  transition: all .5s ease-in-out;
  color: black;
  padding: 15px 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

nav {
  display: flex;
  justify-content: space-around;
  transition: all .3 ease-in-out;
  list-style-type: none;
  position: fixed;
  height: 65x;
  align-items: center;
  width: 100%;
  font-size: 20px;
  color: black;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 12; }
  nav a {
    color: black; }
  nav > * > * {
    margin: 20px 20px 5px 20px; }

.twentpx {
  width: 150px; }

.header-logo {
  height: 50px;
  width: 70px;
  margin-top: 5px;
  margin-left: -50px; }

.navNoShow {
  opacity: 0;
  transition: opacity 1s ease-in-out; }

.navShow {
  opacity: 1; }

.box-container {
  padding-top: 120px;
  padding-bottom: 50px;
  background-color: #2c3e50;
  width: 100%;
  display: flex;
  justify-content: center; }

.box {
  width: 300px;
  height: 460px;
  position: relative;
  background: white;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  color: #2c3e50;
  box-shadow: inset 0 0 0 3px #2c3e50;
  -webkit-transition: background 0.4s 0.5s;
  transition: background 0.4s 0.5s; }

.box:hover {
  background: rgba(255, 255, 255, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

.box h3 {
  font-family: cursive;
  font-size: 180px;
  line-height: 370px;
  margin: 0;
  font-weight: 400;
  width: 100%; }

.box span {
  display: block;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  padding: 5px; }

.box h3,
.box span {
  -webkit-transition: color 0.4s 0.5s;
  transition: color 0.4s 0.5s; }

.box:hover h3,
.box:hover span {
  color: #fff;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

.box svg {
  position: absolute;
  top: 0;
  left: 0; }

.box svg line {
  stroke-width: 3;
  stroke: #ecf0f1;
  fill: none;
  -webkit-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out; }

.box:hover svg line {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.box svg line.top,
.box svg line.bottom {
  stroke-dasharray: 330 240; }

.box svg line.left,
.box svg line.right {
  stroke-dasharray: 490 400; }

.box:hover svg line.top {
  -webkit-transform: translateX(-600px);
  transform: translateX(-600px); }

.box:hover svg line.bottom {
  -webkit-transform: translateX(600px);
  transform: translateX(600px); }

.box:hover svg line.left {
  -webkit-transform: translateY(920px);
  transform: translateY(920px); }

.box:hover svg line.right {
  -webkit-transform: translateY(-920px);
  transform: translateY(-920px); }

.box2 {
  width: 1000px;
  height: 500px;
  position: relative;
  background: white;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  color: #2c3e50;
  box-shadow: inset 0 0 0 3px #2c3e50;
  -webkit-transition: background 0.4s 0.5s;
  transition: background 0.4s 0.5s; }

.box2:hover {
  background: rgba(255, 255, 255, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

.box2 h3 {
  font-family: cursive;
  font-size: 180px;
  line-height: 370px;
  margin: 0;
  font-weight: 400;
  width: 100%; }

.box2 span {
  display: block;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  padding: 5px; }

.box2 h3,
.box2 span {
  -webkit-transition: color 0.4s 0.5s;
  transition: color 0.4s 0.5s; }

.box2:hover h3,
.box2:hover span {
  color: #fff;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

.box2 svg {
  position: absolute;
  top: 0;
  left: 0; }

.box2 svg line {
  stroke-width: 3;
  stroke: #ecf0f1;
  fill: none;
  -webkit-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out; }

.box2:hover svg line {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.box2 svg line.top2,
.box2 svg line.bottom2 {
  stroke-dasharray: 1000 1000; }

.box2 svg line.left2,
.box2 svg line.right2 {
  stroke-dasharray: 500 500; }

.box2:hover svg line.top2 {
  -webkit-transform: translateX(-2000px);
  transform: translateX(-2000px); }

.box2:hover svg line.bottom2 {
  -webkit-transform: translateX(2000px);
  transform: translateX(2000px); }

.box2:hover svg line.left2 {
  -webkit-transform: translateY(1000px);
  transform: translateY(1000px); }

.box2:hover svg line.right2 {
  -webkit-transform: translateY(-1000px);
  transform: translateY(-1000px); }

.ran {
  background-color: rgba(255, 192, 203, 0.6); }

h1 {
  color: #ccc;
  weight: 300; }

.content article {
  padding: 100px 0;
  max-width: 640px;
  margin: 0 auto;
  text-align: center; }

img {
  max-width: 100%; }

.hero-box {
  position: relative;
  height: 1000px;
  background-image: url(../assets/sky2.png);
  background-size: auto 1000px;
  position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex; }

.name-gif {
  position: absolute;
  z-index: 10;
  top: 20%;
  width: 70%;
  left: 13%; }

.name {
  height: 250px;
  width: 100%;
  background-image: url(https://s3-us-west-1.amazonaws.com/thene/mw1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15%;
  position: absolute;
  top: 50%;
  margin-top: -200px;
  z-index: 9; }

.fade-appear {
  opacity: 0; }

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms linear; }

.fade-exit {
  opacity: 1; }

.fade-exit.fade-exit-active {
  opacity: 0;
  transform: opacity 300ms linear; }

.fade-exit-done {
  opacity: 0; }

.fore-bird {
  width: 360px;
  height: 300px;
  background-image: url(../assets/bird.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 60%;
  margin-left: 250px;
  -webkit-filter: blur(5px);
  margin-top: 20%;
  position: absolute;
  z-index: 12; }

.back-bird {
  width: 100%;
  height: 300px;
  background-image: url(../assets/bird2.png);
  background-size: 20%;
  margin-top: 10%;
  margin-left: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  z-index: 5; }

.layer1 {
  width: 100%;
  height: 1000px;
  background-image: url(../assets/Layer1.png);
  background-repeat: no-repeat;
  background-size: auto 1000px;
  background-position: right bottom;
  position: absolute;
  z-index: 11; }

.layer2 {
  width: 100%;
  height: 1000px;
  background-image: url(../assets/Layer2.png);
  background-repeat: no-repeat;
  background-size: auto 1000px;
  background-position: left bottom;
  position: absolute;
  z-index: 10;
  -webkit-filter: blur(2px); }

.layer3 {
  width: 100%;
  height: 1000px;
  background-image: url(../assets/Layer3.png);
  background-repeat: no-repeat;
  background-size: auto 1000px;
  background-position: left bottom;
  position: absolute;
  z-index: 8; }

.layer4 {
  width: 100%;
  height: 1000px;
  background-image: url(../assets/Layer4.png);
  background-repeat: no-repeat;
  background-size: auto 1000px;
  background-position: center bottom;
  background-size: 90%;
  position: absolute;
  z-index: 7;
  -webkit-filter: blur(2px); }

.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center; }

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  width: 48%;
  background: #3085a3;
  text-align: center;
  cursor: pointer; }

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8; }

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none; }

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300; }

.grid figure h2 span {
  font-weight: 800; }

.grid figure h2,
.grid figure p {
  margin: 0; }

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%; }

figure.effect-sadie figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
  background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0); }

figure.effect-sadie h2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #484c61;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s; }

figure.effect-sadie p {
  position: relative;
  bottom: 0;
  left: 0;
  top: 70%;
  opacity: 0;
  width: 100%;
  -webkit-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, 10px, 0); }

figure.effect-sadie:hover h2 {
  color: #fff;
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0); }

figure.effect-sadie:hover figcaption::before,
figure.effect-sadie:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.body-flex {
  display: flex; }

@media screen and (max-width: 50em) {
  .content {
    padding: 0 10px;
    text-align: center; }
  .grid figure {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%; }
  .grid {
    padding: 0px; }
  figure.effect-sadie p {
    margin-left: -30px;
    font-size: .6em; } }

.translate-enter {
  opacity: 0;
  transform: translateX(-200px); }

.translate-enter.translate-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 3s ease-out; }

.translateR-enter {
  opacity: 0;
  transform: translateX(200px); }

.translateR-enter.translateR-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 3s ease-out; }

.NoTranslate {
  opacity: 0; }

.ShowTranslate {
  opacity: 1; }

.movebr-styles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }

.movebr-mouse-style {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%; }

.transition-box {
  position: relative; }

.transition-box-entered {
  color: red; }

.transition-box-entering {
  animation-name: example;
  animation-duration: 4s; }

@keyframes example {
  0% {
    color: red;
    left: 0px;
    top: 0px; }
  25% {
    color: yellow;
    left: 200px;
    top: 0px; }
  50% {
    color: blue;
    left: 200px;
    top: 200px; }
  75% {
    color: green;
    left: 0px;
    top: 200px; }
  100% {
    color: red;
    left: 0px;
    top: 0px; } }

.reveal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: #8ce2ea;
  flex-direction: column; }

.bottom-line {
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 1px;
  height: 1px;
  width: 0%;
  animation-name: bottom-line;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-duration: 800ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1); }

@keyframes bottom-line {
  0% {
    width: 0%; }
  100% {
    width: 50%; } }

.reveal-text1,
.reveal-text1::after {
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-duration: 800ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1); }

.reveal-text1 {
  position: relative;
  font-size: 5vw;
  display: block;
  user-select: none;
  animation-name: reveal-text;
  color: #fff;
  white-space: nowrap;
  cursor: default;
  margin: 5px;
  letter-spacing: 4px; }
  .reveal-text1::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f98b;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: revealer-text; }

.reveal-text2,
.reveal-text2::after {
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-duration: 800ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1); }

.reveal-text2 {
  position: relative;
  font-size: 3vw;
  display: block;
  user-select: none;
  animation-name: reveal-text;
  color: #fff;
  white-space: nowrap;
  cursor: default;
  margin: 5px;
  letter-spacing: 4px; }
  .reveal-text2::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f98b;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: revealer-text; }

@keyframes reveal-text {
  from {
    clip-path: inset(0 100% 0 0); }
  to {
    clip-path: inset(0 0 0 0); } }

@keyframes revealer-text {
  0%, 50% {
    transform-origin: 0 50%; }
  60%, 100% {
    transform-origin: 100% 50%; }
  60% {
    transform: scaleX(1); }
  100% {
    transform: scaleX(0); } }

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }
  body input, body textarea, body select {
    font-family: 'Montserrat', sans-serif; }
